<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <img src="{% static 'images/logo.PNG' %}" alt="Logo kasyna" width="25%">
    <h2>Logowanie</h2>
    <form method="POST" class="container">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Nazwa użytkownika" required>
        <input type="password" name="password" placeholder="Hasło" required>
        <button type="submit">Zaloguj się</button>
    </form>
    <p>Nie masz konta? <a href="{% url 'register' %}">Zarejestruj się</a></p>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li class="message">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
